<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Products - IMS</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <a class="navbar-brand my-0 mr-md-auto" href="../index.html">
                <img src="../img/logo.svg" alt="logo" width="130" height="30" alt="Logo" loading="lazy">
            </a>
            <button class="btn btn-outline logout-btn" onclick="location.href='../login.html'">Login</button>
        </div>

        <!--    {% block content %}-->
        <div class="container h-100">
            <div class="row align-items-center h-100" >
                <div class="col-9 mx-auto">
                    <div class="mt-4">
                        <div class="text-center p-1">
                            <h3 class="theme-color">Add Products</h3>
                        </div>
                    </div>

<!--                {% block dashboardcontent %}-->
                    <form method="GET">

                        <div class="form-group mx-4 mt-4">
                            <input type="text" required name="productid" class="form-control" placeholder="Product ID">
                        </div>

                        <div class="form-group mx-4 mt-4">
                            <input type="text" required name="productname" class="form-control" placeholder="Product Name">
                        </div>

                        <div class="form-group mx-4 mt-4">
                            <input type="text" required name="productprice" class="form-control" placeholder="Product Price">
                        </div>

                        <div class="form-group mx-4 mt-4">
                            <input type="number" required name="qty" class="form-control" placeholder="Quantity">
                        </div>

                        <div class="form-group mx-4 mt-4">
                            <button type="submit" class="btn login-btn btn-block ">Add Product</button>
                        </div>

                    </form>
<!--                {% endblock %}-->

                </div>
            </div>
        </div>
        <!--  {% endblock %}    -->

    </body>
</html>