<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Sold Products - IMS</title>
        <link rel="stylesheet" href="../bootstrap-4.6.2/css/bootstrap.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <a class="navbar-brand my-0 mr-md-auto" href="../index.html">
                <img src="../img/logo.svg" alt="logo" width="130" height="30" alt="Logo" loading="lazy">
            </a>
            <button class="btn btn-outline logout-btn" onclick="location.href='../login.html'">Login</button>
        </div>

        <!--    {% block content %}  -->
        <div class="container h-100">
            <div class="row align-items-center h-100" >
                <div class="col-11 mx-auto">
                    <div class="mt-4">
                        <div class="text-center p-1">
                            <h3 class="theme-color">View Sold Products</h3>
                        </div>
                    </div>

                    <!-- {% block dashboardcontent %}-->
                    {% if all_products.count > 0 %}
                    <table class='table table-striped text-center'>
                        <thead>
                            <tr>
                                <th scope='col'>Date Time</th>
                                <th scope='col'>Product ID</th>
                                <th scope='col'>Product Name</th>
                                <th scope='col'>Product Price</th>
                                <th scope='col'>Quantity</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- {% for item in all_products %}-->
                            <tr>
                                <td>{{item.date_time}}</th>
                                <td>{{item.id}}</th>
                                <td>{{item.product_name}}</td>
                                <td>{{item.product_price}}</td>
                                <td>{{item.product_quantity}}</td>
                            </tr>
                            <!--  Dummy   -->
                            <tr>
                                <td>{{item.date_time}}</th>
                                <td>{{item.id}}</th>
                                <td>{{item.product_name}}</td>
                                <td>{{item.product_price}}</td>
                                <td>{{item.product_quantity}}</td>
                            </tr>
                            <!--Dummy end-->
                        <!-- {% endfor %}-->
                        </tbody>
                    </table>

                    {% else %}
                    <h1 class='text-center'>No Products are their to view....</h1>
                    <!--{% endif %}-->


                    <button class='btn action-btn btn-block' onclick="location.href='index.html'">Go Back</button>
                    <!-- {% endblock %}-->

                </div>
            </div>
        </div>
        <!--  {% endblock %}    -->

    </body>
</html>